<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <!--<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />-->
    <meta http-equiv="Content-Security-Policy" content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;">
    <!--Script Includes-->
    <script src="../Model/Stock.js"></script>
    <script src="../Model/Portfolio.js"></script>
    <script src="../Controller/displayScripts.js"></script>
    <script src="../Controller/utility.js"></script>
    <script src="../Controller/inits.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.29.9.js"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="style/default.css">

    <title>Stonks</title>
</head>
<body onload="initializePortfolio()">
    <!--Portfolio Section-->
    <div class="portfolio-container">
        <div class="portfolio-content" id="portfolio">
            <!-- Stock Selection Section-->
            <div class="stock-selection-sect" id="stockHeader">
               
            </div>

            <!-- Stock Viewing Section-->
            <div class="analytics-sect">
                <div class="stock-header-sect">
                    <label class="header-label">Tesla, Inc.</label>
                </div>
                <div class="stock-details-sect">
                    <div class="stock-details-price">
                        <label class="detail-label-large" id="current-price-label">276.05</label>
                    </div>
                    <div class="stock-details-close-open">
                        <div>
                            <label class="detail-label" id="close-label">Previous Close</label>
                        </div>
                        <div style="padding-top:10px">
                            <label class="detail-label" id="open-label">Open</label>
                        </div>
                    </div>
                    <div class="stock-details-3">
                        <button onclick="displayStockList()" id="load-button">Load Stock List</button>
                    </div>
                    
                </div>
                <div class="chart-sect">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</body>
</html>